<div>
<div>
  <img src="assets/images/Logo_iTeamUniversity.png" alt="Logo de l'application">
</div>
<div>
  <nav class="navbar navbar-expand-lg bg-primary text-white text-center">
    <div class="container-fluid text-center">
      <a class="font-weight-bold s navbar-brand text-center" href="#">TENNIS CLUB</a>
      <div class="collapse navbar-collapse text-center text-white" id="navbarSupportedContent">
        <ul class="font-weight-bold navbar-nav me-auto mb-2 mb-lg-0 text-white text-center">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/reservation">Réservation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Validation</a>
          </li>
        </ul>
      </div>      
    </div>
  </nav>
</div>
</div>