<div>
<div class="titreHome text-center">
    <h1 class="text-primary font-weight-bold margin-bottom: 5 !important;">Avantages de la location-horaire</h1>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <h4 class="text-primary"><span><img src="assets/images/ballon.png" class="iconBallonTennis" alt="ballon_de_tennis"></span>Un service de réservation simple, rapide et sécurisé</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <figure class="figure">
            <img src="assets/images/courts_tennis.gif" class="figure-img img-fluid rounded" alt="courts_tennis"> 
        </figure>
      </div>
      <div class="col-sm">
        <figure class="figure">
            <figcaption class="font-weight-bold">Découvrez la location-horaire</figcaption>
            <img src="assets/images/tenup_lh_0.png" class="figure-img img-fluid rounded" alt="tenup_lh_0"> 
        </figure>
      </div>
    </div>
  </div>
</div>
